@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700;800;900&display=swap');

*{
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    }

body{
    background-color:rgb(255, 255, 255);
}

.menu{
    display: flex;
    align-items: center;

    width: 100%;
    padding: 1rem;
}

.logo{
    width: 90px ;
    display: flex;
    align-items: center;

}

.titulo{
    display: flex;
    align-items: center;
    margin: 1rem;
    color: #000;
}

@media (max-width: 900px){

    .logo{
        display: flex;
        flex-direction: column;
    }
    .menu{
        display: flex;
        flex-direction: column;
    }
    .titulo{
        display: flex;
        flex-direction: column;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
    section{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}

.rodape{
    display: flex;
    height: 100px ;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    background-color: #524f4f;
}

section {
    display: flex;
    align-items: center;
    padding: 20px;
}

.video {
    flex: 1;
    padding: 20px;
}

.texto {
    flex: 1;
    padding: 20px;
}

iframe {
    width: 100%;
    height: 100%;
}

.flex{
    background: url(./img/jundas_flex.jpg);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: color;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

.jundas{
    border: 5px solid #fff;    
    color: #fff;
    padding: 40px;
    font-size: 20px;
    letter-spacing: 10px;
}
